body {
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container {
  text-align: center;
  width: 60%;
}

.btn-proceed {
  float: right;
}

.page-description {
  margin-bottom: 60px;
}

/**
  Transitions
**/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/**
  Static Header
**/
.header-bar {
  padding: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.header-bar span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

/**
  PAGE 1
**/
h3 {
  font-size: 16px;
  font-weight: normal;
}

.heading {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.heading-with-hover {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

/**
  Page 3
**/
#addressForm {
  text-align: left;
}

/**
  Page 4
**/
.input-group {
  width: 120px;
}

#numChildren, #numAdults {
  text-align: center;
}

#defineAdult, #defineIncome {
  text-decoration: none;
  color: #333;
}

/**
  Page 5
**/
.check-label {
  font-weight: 400;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
  width: 350px;
  text-align: left;
  background-color: #434a54;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #434a54;
}

/**
  Page 6
**/
#aboutChildrenForm, #aboutAdultsForm {
  text-align: left;
}

.child_info, .adult_info {
  margin-top: 50px;
}

.radio-label {
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.amount-label {
  border: none !important;
}

.amount-label h6 {
  display: inline;
}

.amount-field {
  width: 25% !important;
  padding-left: 20px !important;
  border: none !important;
}

.payment-field {
  width: 10% !important;
  padding-left: 10% !important;
  padding-top: 15px !important;
  border: none !important;
}

/**
  Page 7
**/

#reviewChildren span:nth-child(even), #reviewAdults span:nth-child(even) {
    background-color: #E8E7E7;
}

#reviewChildren span:nth-child(odd), #reviewAdults span:nth-child(odd) {
    background-color: #F7F7F7;
}

select {
  width: 100px !important;
}

/**
  Animations
**/
@-webkit-keyframes fold {
  0% {
    margin-bottom: -8px;
    visibility: visible;
    line-height: 0;
    -webkit-transform-origin: 0, 0, 0;
            transform-origin: 0, 0, 0;
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
            transform: rotate3d(1, 0, 0, -90deg);
  }
  33.333% {
    margin-bottom: 4px;
    line-height: 16px;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
  }
  66.667% {
    margin-bottom: 2px;
    -webkit-transform: rotate3d(1, 0, 0, 25deg);
    transform: rotate3d(1, 0, 0, 25deg);
  }
  100% {
    margin-bottom: 0;
    visibility: visible;
    height: auto;
    -webkit-transform-origin: 0, 0, 0;
            transform-origin: 0, 0, 0;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes fold {
  0% {
    margin-bottom: -8px;
    visibility: visible;
    line-height: 0;
    -webkit-transform-origin: 0, 0, 0;
            transform-origin: 0, 0, 0;
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
            transform: rotate3d(1, 0, 0, -90deg);
  }
  33.333% {
    margin-bottom: 4px;
    line-height: 16px;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
  }
  66.667% {
    margin-bottom: 2px;
    -webkit-transform: rotate3d(1, 0, 0, 25deg);
    transform: rotate3d(1, 0, 0, 25deg);
  }
  100% {
    margin-bottom: 0;
    visibility: visible;
    height: auto;
    -webkit-transform-origin: 0, 0, 0;
            transform-origin: 0, 0, 0;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}

.form-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: none;
  line-height: 1;
  width: 100%;
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
  margin-top: 2px;
  color: #666;
}

.form-tooltip {
  display: block;
  text-align: left;

  visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  height: 0;
  margin-bottom: -8px;
  cursor: help;
  -webkit-animation-name: fold;
          animation-name: fold;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  padding: 4px 16px;
  background: #111;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
:focus + .form-tooltip {
  margin-bottom: 0;
  height: auto;
  visibility: visible;
  -webkit-animation: fold ease-in 500ms;
          animation: fold ease-in 500ms;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  Radio Buttons as Buttons
**/
/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
.btn-group-radio input[type=radio] {
  visibility: hidden;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.btn-group-radio input[type=radio]:checked + .btn {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-color: #cccccc;
  background-color: #e6e6e6;
  background-color: #d9d9d9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group-radio > input:first-child + .btn {
  margin-left: 0;
     -webkit-border-top-left-radius: 4px;
         -moz-border-radius-topleft: 4px;
             border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
}
.btn-group-radio > input:first-child + .btn.large {
  margin-left: 0;
     -webkit-border-top-left-radius: 6px;
         -moz-border-radius-topleft: 6px;
             border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomleft: 6px;
          border-bottom-left-radius: 6px;
}

.btn-group-radio > .btn {
  margin-left: -1px;
}
